:root {
  --mini-text-color: #757575;
  --max-text-color: #212121;
  --primary-color: #ffffff;
  --header-footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --button-backgrouhd-color: #2196f3;
  --logo-color: #000000;
  --mini-text-footer-color: rgba(255, 255, 255, 0.6);
  --min-background-color: #ececec;
}

.conteiner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
}

/* навігація сайту */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.Web {
  color: var(--button-backgrouhd-color);
}

.Studio {
  color: var(--logo-color);
}

.header-contact {
  color: var(--max-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-link {
  color: var(--mini-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-contact:hover {
  color: var(--button-backgrouhd-color);
}

.header-link:hover {
  color: var(--button-backgrouhd-color);
}

/* наше портфоліо */

.project {
  padding-top: 75px;
  padding-bottom: 113px;
}

.project-btn {
  color: var(--max-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--team-background-color);
}

.project-btn:hover {
  border-radius: 4px;
  background: var(--button-backgrouhd-color);
  color: var(--primary-color);
}

.project-title {
  color: var(--max-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.project-text {
  color: var(--max-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

/* footer */

.footer {
  background-color: var(--header-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-Web {
  color: var(--button-backgrouhd-color);
}

.footer-Studio {
  color: var(--primary-color);
}

.footer-maps {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link {
  color: var(--mini-text-footer-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
