:root {
  --mini-text-color: #757575;
  --max-text-color: #212121;
  --primary-color: #ffffff;
  --header-footer-background-color: #2f303a;
  --button-backgrouhd-color: #2196f3;
  --logo-color: #000000;
  --mini-text-footer-color: rgba(255, 255, 255, 0.6);
}

body{
  font-family: Roboto;
}

/* навігація сайту */

.header-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.Web {
  color: var(--button-backgrouhd-color);
}

.Studio {
  color: var(--logo-color);
}

.header-contact {
  color: var(--max-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-link {
  color: var(--mini-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-contact:hover {
  color: var(--button-backgrouhd-color);
}

.header-link:hover {
  color: var(--button-backgrouhd-color);
}

/* наше портфоліо */

.project-btn{
  color: var(--max-text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; 
letter-spacing: 0.48px;
}

.project-img{
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.project-title{
  color: var(--max-text-color);
font-size: 18px;
font-weight: 700;
line-height: 2; 
letter-spacing: 1.08px;
}

.project-text{
  color: var(--max-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; 
letter-spacing: 0.48px;
}

/* footer */

.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-maps {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link {
  color: var(--mini-text-footer-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

