.aboutus {
  background-color: $team-background-color;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: $max-text-color;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.44px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

@media screen and (min-width: 1200px){
  font-size: 36px;
  letter-spacing: 0.48px;
}
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    background: $primary-color;
    box-shadow: $box-shadow-color;
    border-radius: 0px 0px 4px 4px;
  }

  &__background {
    padding-top: 30px;
    padding-bottom: 24px;
    @media screen and (min-width: 1200px){
  padding-bottom: 30px;
}
  }

  &__image {
    width: 100%;
    @media screen and (min-width: 480px){
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px){
  width: 354px;
  height: 374px;
}
@media screen and (min-width: 1200px){
  width: 270px;
  height: 260px;
}
  }

  &__heading {
    color: $max-text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
  }

  &__text {
    color: $mini-text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
  }

  &__box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    display: flex;
    transition-property: fill;
    @extend %transition;
  }

  &__internet {
    width: 44px;
    height: 44px;
    background-color: $primary-color;
    @include flex($wrap:nowrap);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    @extend %transition;

    &:hover {
      background-color: $button-backgrouhd-color;

      .aboutus__icon {
        fill: $primary-color;
      }
    }
  }
}
